/recruitment/prescreening/node_modules/
/recruitment/prescreening/build/
.idea/
/integration/__pycache__/
/integration/odoo/__pycache__/
/samantha/notebook/.ipynb_checkpoints/
.secret
/integration/whatsapp/.env
/integration/whatsapp/__pycache__/
/integration/whatsapp/app/__pycache__/
/samantha/notebook/db/
/samantha/notebook/chroma.log
/samantha/notebook/FacebookAI/
/samantha/notebook/local_cache/
/samantha/notebook/roberta_base_ft/
/samantha/notebook/roberta_base_ft_tokenizer/
/api/__pycache__/
/integration/__pycache__/
/integration/odoo/__pycache__/
/integration/whatsapp/__pycache__/
/samantha/__pycache__/
/samantha/notebook/.cache/
/samantha/notebook/config_basic/__pycache__/
/samantha/src/__pycache__/
/samantha/src/roberta_base_ft/
/samantha/src/roberta_base_ft_tokenizer/
/staticfiles/
/.vscode/
.DS_Store
